/* ############## */
/* General */
/* ############## */
* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
:root {
  --red: #ff0000;
  --black: #000;
  --white: #ffffff;
}
/*Scrollbar CSS*/
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

/* ############## */
/* Navbar */
/* ############## */
.navbar .container .navbar-brand {
  color: var(--red);
}
