/* ############## */
/* General */
/* ############## */
* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
:root {
  --red: #ff0000;
  --black: #000;
  --white: #ffffff;
}
/*Scrollbar CSS*/
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

/* ############## */
/* Navbar */
/* ############## */
.navbar .container .navbar-brand {
  color: var(--red);
}

/* ############## */
/* About */
/* ############## */
#about .container {
  padding-top: 10rem;
}
#about .container .col-md-6 .btn {
  background-color: var(--red);
  color: var(--white);
}
#about .container .col-md-6 .btn:hover {
  background-color: var(--black);
  color: var(--white);
  transition: 0.5s ease-in-out;
}
#about .container .col-md-6 .thumb {
  position: relative;
}
#about .container .col-md-6 .thumb a {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  display: inline-block;
  line-height: 70px;
  text-align: center;
  background-color: var(--red);
  color: var(--white);
  border-radius: 50%;
  transform: translate(-35px, -35px);
  transition: all 0.3s;
}
#about .container .col-md-6 .thumb a:hover {
  opacity: 0.9;
}
#about .container .row .col-md-6:last-child .play-btn {
  background-color: var(--red);
  color: var(--white);
  animation: pulse 2s ease infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--white);
  }
  100% {
    box-shadow: 0 0 0 40px transparent;
  }
}

/* ############## */
/* Design */
/* ############## */
#design .container {
  padding-top: 10rem;
}
#design .container .row .col-md-6:last-child .btn {
  background-color: var(--red);
  color: var(--white);
}
#design .container .row .col-md-6:last-child {
  margin-top: 8rem;
}
#design .container .row .col-md-6:last-child .btn:hover {
  background-color: var(--black);
  color: var(--white);
  transition: 0.5s ease-in-out;
}

/* ############## */
/* services */
/* ############## */
#services .container {
  padding-top: 10rem;
}
/* .produits-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
} */
#services .col-md-4 {
  position: relative;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
#services .container .row .col-md-4 .btn {
  background-color: var(--red);
  color: var(--white);
}
#services .container .row .col-md-4 .btn:hover {
  background-color: var(--black);
  color: var(--white);
  transition: 0.5s ease-in-out;
}
